:root {
    --main-text: #0e0e0f;
    --main-green: #00bb78;
    --slider-pagination-default: #e2e3e5;
    --title-main: #18191f;
    --main-dark: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    color: var(--title-main);
}